/* Global styles for the app. This file will include general layout styles, CSS resets, or other styles 
that should apply across the entire application. */

html, body {
  height: 100%; 
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif; 
  background-color: #FFFFFF; 
  color: #6C757D;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App {
  flex: 1; 
  display: flex;
  flex-direction: column;
  padding: 0;
}

.content {
  flex: 1; 
  padding: 0 20px;
  background-color: #fff;
}

.header {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #DAECFF;
}

.logo {
  height: 120px;
  margin-right: 20px;
  border-radius: 50%;
}

.header-text {
  font-size: 18px;
  color: #1a3e59; /* A darker shade of blue for a more professional look */
  margin: 0;
  font-family: 'Roboto', sans-serif; /* A clean and modern font */
  font-weight: 600; /* Slightly bolder text for emphasis */
  letter-spacing: 0.5px; /* Small letter spacing for readability */
  text-transform: uppercase; /* Converts text to uppercase for uniformity */
  text-shadow: 1px 1px 2px #ccc; /* A subtle shadow for depth */
}

.header-text:hover {
  color: #003366; /* Slight color change on hover */
  text-shadow: 2px 2px 5px #999; /* Enhanced shadow on hover for effect */
  transition: all 0.3s ease-in-out; /* Smooth transition for the hover effect */
}

/* Footer */
.footer {
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #DAECFF;
  border-top: 1px solid #ddd;
  text-align: center;
}

.footer-section {
  flex: 0 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 60px;
}

.footer-logo-img {
  height: 120px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  margin: 5px 0;
}

.footer-links a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
}

.footer-social a {
  color: #333;
  font-size: 20px;
  margin: 0 8px;
}

.footer-social a:hover {
  color: #007BFF;
}

.navbar {
  background-color: #DAECFF;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #ddd;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 30px;
}

.nav-links li {
  margin-right: 40px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #007BFF;
}

.active-link {
  color: #007BFF;
  font-weight: bold;
}

.inactive-link {
  color: #555;
}

.homepage {
  flex: 1;
  padding: 20px;
  background-color: #f9f9f9;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
  font-size: 24px;
}

.search-bar-container {
  margin: 20px auto;
  width: 60%;
  display: flex;
  align-items: center;
  position: relative;
}

.search-bar {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #CED4DA;
  border-radius: 4px;
  padding-left: 40px;
  padding-right: 80px;
}

.search-bar:focus {
  border-color: #007BFF;
}
.upload-button {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #333;
  padding: 0;
  display: flex;
  align-items: center;
}

.upload-button:hover {
  color: #007BFF;
}

.clear-button {
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #333;
  padding: 0;
  display: flex;
  align-items: center;
}

.clear-button:hover {
  color: #FF0000;
}

.search-button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #333;
  padding: 0;
  display: flex;
  align-items: center;
}

.search-button:hover {
  color: #007BFF;
}

.advanced-search-container {
  text-align: left;
  margin-top: 10px;
  margin-left: 20%;
}

.advanced-search-popup {
  margin-top: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 15px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.advanced-search-popup label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.field-name {
  font-size: 18px; /* Bold and larger text */
  font-weight: bold; /* Bold text */
  margin-bottom: 10px; /* Space between the field name and input */
  color: #333;
}

.field-inputs {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Space between multiple inputs in the same column */
  margin-bottom: 20px; /* Extra space between fields */
}

/* Center the pinned searches section */
.pinned-searches {
  margin-top: 30px;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.pinned-title {
  text-align: center;
  color: #333;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}

.pinned-searches ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.pinned-searches li {
  margin-bottom: 10px;
  padding: 8px;
  background-color: #f4f4f4;
  border-radius: 4px;
  color: #555;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pinned-searches li:hover {
  background-color: #eaeaea;
}

.pin-icon {
  margin-right: 10px;
  color: #007BFF;
}

.past-search-link {
  color: #333;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
  flex-grow: 1;
}

.past-search-link:hover {
  color: #007BFF;
}

.delete-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #FF0000;
}

.delete-button:hover {
  color: #CC0000;
}

/* Research Query Guideline section */
.guideline-section {
  margin-top: 40px;
}

.guideline-title {
  text-align: center;
  font-size: 22px;
  color: #333;
  margin-bottom: 20px;
}

.guideline-box {
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
}

.guideline-box p {
  margin-bottom: 20px;
  font-size: 16px;
  color: #444;
  line-height: 1.6;
}

/* Buttons */
button, .btn-primary {
  background-color: #007BFF;
  color: #FFFFFF;
  border-radius: 4px;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover, .btn-primary:hover {
  background-color: #0056b3;
}

.btn-secondary {
  background-color: #28A745;
  color: #FFFFFF;
  border-radius: 4px;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-secondary:hover {
  background-color: #218838;
}

.advanced-input {
  width: 100%;
  margin-top: 5px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.advanced-input::placeholder {
  color: #aaa;
}

.search-container {
  display: flex;
  align-items: center;
}

.search-bar-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 700px;
}

.clear-button {
  position: absolute;
  right: 80px;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #333;
}

.clear-button:hover {
  color: #FF0000;
}

.search-button {
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #333;
}

.search-button:hover {
  color: #007BFF;
}

.spinner {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #007BFF;
  display: flex;
  align-items: center;
}
 
.advanced-search-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  margin-top: 20px;
  transition: all 0.3s ease-in-out;
}

.advanced-search-wrapper.one-box {
  justify-content: center;
}

.advanced-search-wrapper.two-boxes {
  justify-content: center; /* Center both boxes */
  gap: 40px; /* Adjust the gap between the two boxes to bring them closer */
}

.advanced-search-box {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  max-width: 400px;
  flex: 1;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.convert-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.convert-button {
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.convert-button:hover {
  background-color: #0056b3;
}

.convert-button .fa-arrow-right {
  margin-left: 8px;
}

.field-label, .pico-item {
  text-align: left;
  width: 100%;
}

.pico-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.clear-button {
  position: absolute;
  right: 80px;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #333;
}

.clear-button:hover {
  color: #FF0000;
}

.search-button {
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #333;
}

.search-button:hover {
  color: #007BFF;
}

.spinner {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #007BFF;
  display: flex;
  align-items: center;
}

.advanced-search-container {
  display: flex;
  justify-content: space-between; /* Places the two boxes side by side */
  margin-top: 20px;
  position: relative; /* For positioning the buttons */
}
 
.advanced-search-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  margin-top: 20px;
  transition: all 0.3s ease-in-out;
}

.advanced-search-wrapper.one-box {
  justify-content: center;
}

.advanced-search-wrapper.two-boxes {
  justify-content: center; /* Center both boxes */
  gap: 40px; /* Adjust the gap between the two boxes to bring them closer */
}

.advanced-search-box {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  max-width: 400px;
  flex: 1;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.convert-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.convert-button {
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.convert-button:hover {
  background-color: #0056b3;
}

.convert-button .fa-arrow-right {
  margin-left: 8px;
}

.field-label, .pico-item {
  text-align: left;
  width: 100%;
}
